.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.auth-btn {
  padding: 0.5em;
  margin-bottom: 1rem;
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.api-input {
  color: black;
  font-size: 24px;
  margin-top: 1.5em;
  font-style: bold;
  font-family: Optima, sans-serif;
}


.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* gap: 2rem; */
  padding: 0rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  color: whitesmoke;
  font-size: 18px;
  font-style: bold;
  font-family: Optima, sans-serif;
}

.email-form {
  padding: 4em
}

.user-auth {
  margin: 1em;
  margin-top: 3em;
  padding: 1em
}

.plant-image {
  height: 30%;
  width: 30%;
}

.email-header {
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
}

.email-input {
  color: black;
  font-family: Optima, sans-serif;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  width: 30%;
  height: 0%;
  box-sizing: border-box; 
  align-items: center; 
}

.email-input-message {
  color: black;
  font-family: Optima, sans-serif;
  font-weight: bold; 
  font-size: 1em;
  margin: 8px 0;
  width: 30%;
  height: 0%;
  box-sizing: border-box;  
}

.email-page {
  color: black;
  font-family: Optima, sans-serif;
  font-weight: bold; 
  font-size: 2em;
}

.email-label {
  color: black;
  font-family: Optima, sans-serif;
  font-weight: bold; 
  font-size: 1em;

}

.email-label-message {
  color: black;
  font-family: Optima, sans-serif;
  font-weight: bold; 
  font-size: 1em;
  align-items: center;
  margin-bottom: 2em;
}

.email-content {
  color: black;
  font-family: Optima, sans-serif;
  font-size: 1.5em;
  align-items: center;
  margin-bottom: 3em;
}


.email-input-message {
  color: black;
  font-family: Optima, sans-serif;
  font-weight: bold; 
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  width: 30%;
  height: 0%;
  box-sizing: border-box;  
}

.email-button {
  padding: 0.5em;
  margin-bottom: 1rem;
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  
}

.email-form {
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.homepage {
  background-image: url("https://i.imgur.com/RLnOuiC.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.home-header {
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.home-sub-header {
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
}

.homepage-link {
  color: #17202A; 
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}


.listing-card {
  border-top: 3px solid;
  padding: 4em;
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listing-image {
  height: 10%;
  width: 50%;
  border: 5px solid #555
}

.listing-input {
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1.5em;
  /* font-weight: bold; */
}

.listing-form {
  border-top: 3px solid;
  padding: 4em;
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-card {
  padding: 4em;
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plant-box {
  padding: 4em;
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plant-image {
  border: 5px solid #555;
}

/* .plant-header {
  background-image: url("https://i.imgur.com/ATWyDUk.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

} */

.user-plant-form {
  border-top: 3px solid;
  padding: 4em;
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.friendship-header {
  padding-top: 2em;
}

.friendship-top {
  background-image: url("https://i.imgur.com/JPoqIqc.jpg");
}

.friends-header {
  color: whitesmoke;
  font-size: 2em;
  font-style: bold;
  font-family: Optima, sans-serif;
  /* background-image: url("https://i.imgur.com/JPoqIqc.jpg"); */
  background-size: cover;
}

.friends-btn {
  padding: 1em;
  margin-bottom: 1rem;
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.form-title {
  color: black;
  font-family: Optima, sans-serif;
  font-size: 2em;
}

.form-btn {
  padding: 1em;
  margin-bottom: 1rem;
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.listing-header {
  padding-top: 1em;
  color: whitesmoke;
  font-size: 30px;
  font-style: bold;
  font-family: Optima, sans-serif;
  background-image: url("https://i.imgur.com/JPoqIqc.jpg");
}

.listing-card {
  padding: 4em;
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lis-submit-btn {
  padding: 1em;
  margin-bottom: 1rem;
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.login-form {
  padding: 4em;
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listing-top {
  background-image: url("https://i.imgur.com/JPoqIqc.jpg");
}


.plant-box {
  border-top: 4px solid;
}

.plant-header {
  padding-top: 1em;
  color: whitesmoke;
  font-size: 30px;
  font-style: bold;
  font-family: Optima, sans-serif;
  background-image: url("https://i.imgur.com/JPoqIqc.jpg");
}

.plant-top {
  background-image: url("https://i.imgur.com/JPoqIqc.jpg");
}

.plant-link {
  color: #17202A; 
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.friendship-info {
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1.5em;

}

.pending-header {
  color: whitesmoke;
  font-size: 2em;
  font-style: bold;
  font-family: Optima, sans-serif;
  /* background-image: url("https://i.imgur.com/JPoqIqc.jpg"); */
  background-size: cover;
}

.listing-image {
  height: 30%;
  width: 50%;
}

.pending-header {
  padding-top: 1em;
}

/* .user-box {
  font-size: 24px;
  align-items: center;
  border-top: 3px solid;
  color: black;
  height: 100%;
  background-size: cover;
  font-style: bold;
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-image: url("https://i.imgur.com/ZFzF3UG.jpg");
} */

.submit-btn {
  padding: 1em;
  margin-bottom: 1rem;
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.user-listing-link {
  color: #2f3641;
  font-size: 24px;
  margin-top: 2.5em;
  font-style: bold;
  font-family: Optima, sans-serif;
}

.user-form {
  padding-top: 2em;
}

.user-auth {
  color: black;
  font-family: Optima, sans-serif;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  width: 30%;
  height: 0%;
  box-sizing: border-box; 
  align-items: center; 
}

.user-plant-box {
  background-image: url("https://i.imgur.com/JPoqIqc.jpg");
}

.user-plant-info {
  color: black;
  font-style: bold;
  font-family: Optima, sans-serif;
  font-size: 1.25em;
}

.user-plant-btn {
  padding: 1em;
  margin-bottom: 1rem;
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.user-input {
  color: black;
  font-family: Optima, sans-serif;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  width: 30%;
  height: 0%;
  box-sizing: border-box; 
  align-items: center; 
}

.signup-form {
  padding: 2em;
  background-image: url("https://i.imgur.com/x3d9nWd.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  align-items: center;

}

.signup-label {
  color: black;
  font-family: Optima, sans-serif;
  font-weight: bold; 
  font-size: 1em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
